{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Network{% endblock %}</title>
    <!-- CSS only -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous">
    </script>

    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />


    {% if  user.is_authenticated %}
    <script src="{% static 'network/js/listening_websocket.js' %}"></script>
    {% endif %}
    {% block style %}
    <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'network/js/sm.js' %}"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Network</a>

        <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="username"
                        href="{% url 'profile' name=user.username %}"><strong>{{ user.username }}</strong></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a id="all-posts" class="nav-link" href="{% url 'all-postes' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">messages <span id="notif-count" class="badge bg-secondary"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>



</body>

</html>