{% extends "network/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'network/css/posts.css' %}" rel="stylesheet">
    <script src="{% static 'network/js/sm_posts.js' %}"></script>

{% endblock %}
{% block body %}

{% for post in posts  %}
<div class="posts">
    <h4 class="u-con-prof"><a
            href="{% url 'profile' name=post.uploaded_by.username %}">{{ post.uploaded_by.username }}</a></h4>
    <div class="bod">
        <p class="post-content">{{ post.post }}</p>
        <i class="fas fa-heart like-but">{{post.likes}}</i>
    </div>
</div>
{% endfor %}

{% endblock %}